

h1 { color: red; }

body {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

form {
    background-color: aqua;
    border-radius: 1rem;
    width: 50vw;
    height: 50vh;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}


@media screen and (max-width: 400px){
   form {
    width: 100vw;
   } 
}

.message {
    color: red;
}